div.blogpost_parent{
    background-color: white;
    height: 100vh;
}
div.blogpost_parent h2{
    text-align: center;
}
div.blogpost_parent section.blogpost_section ul.postnav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div.blogpost_parent section.blogpost_section ul.postnav li{
    list-style: none;
}
div.blogpost_parent section.blogpost_section p{
    padding: 1rem;
    word-wrap: break-word;
}
@media only screen and (max-width: 900px){
    div.blogpost_parent section.blogpost_section ul.postnav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    div.blogpost_parent section.blogpost_section ul.postnav li{
        list-style: none;
    }
}
@media only screen and (max-width: 1200px){
    div.blogpost_parent section.blogpost_section ul.postnav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    div.blogpost_parent section.blogpost_section ul.postnav li{
        list-style: none;
    }
}
@media only screen and (max-width: 600px){
    div.blogpost_parent section.blogpost_section ul.postnav{
        display: block;
        justify-content: space-evenly;
    }
    div.blogpost_parent section.blogpost_section ul.postnav li{
        list-style: none;
    }
}