{% extends 'baseapp/base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/blog/blogpost.css' %}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4455285389124524"
    crossorigin="anonymous"></script>
{% endblock header %}
{% block content %}
<div class="blogpost_parent">
    <section class="blogpost_section">
<h2>Welcome to Techietoxpress Blog</h2>
<ul class="postnav">
    <li>Posted by: CHRISTIAN EZE</li>
    <li>Time: 2:00</li>
    <li>Category :Programming</li>
</ul>
<p>	APROACHING SOFTWARE DESIGN ARCHITECTURE <br>
    WHAT IS SOFWARE DESIGN: <br>
        Software design entails all the series of stages in coming up with an idea for a project due to specific or various problem solution driven need, to it constraints ,programming,debugging,testing to its final stage of deployment made available for the target audience to use <br>
    
    HOW TO COME UP WITH A SCALABLE SOFTWARE DESIGN: <br>
        To be able to tackle any software design problem ,you must be able to have an open creative mind in identifying the core structure required to build the sofware ..The basic technologies required, design approach to follow <br>
    1.Identifying the core structure required to build the sofware: Does your sofware requires integration of various applications together to correlate and work for a specific purpose <br>
    2.Understanding each service and its implementation involved <br>
</p>
    </section>
</div>

{% endblock content %}
