{% extends 'baseapp/base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/blog/blogpost.css' %}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4455285389124524"
    crossorigin="anonymous"></script>
{% endblock header %}
{% block content %}
<div class="blogpost_parent">
    <section class="blogpost_section">
<h2>Welcome to Techietoxpress Blog</h2>
{% for uniquepost in posts %}
<ul class="postnav">
    <li>Published by: {{uniquepost.author}}</li>
    <li>Time: 2:00</li>
    <li>Category :Programming</li>
</ul>


    <a style="text-decoration: none;color:black;" href="{{ uniquepost.get_absolute_url }}">
        <h2>{{uniquepost.title}}
        </h2>
    </a>

<a style="text-decoration: none;color:black;font-size: 1.5rem;" href="{{ uniquepost.get_absolute_url }}">
    <p>
    {{uniquepost.body|linebreaks|truncatewords:50}}</p>
    
</a>
{% endfor %} 
    </section>
</div>

{% endblock content %}
